/* body {
  font-family: "Inter", sans-serif;
  background: #f7f8fc;
} */

.form-wrapper {
  width: 60%;
  margin: 30px auto;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
   background: linear-gradient(135deg, #ffd5ec, #d4e1ff);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  margin-top: 110px;
}

.form-title {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 5px;
}

.form-subtitle {
  text-align: center;
  /* color: #777; */
  font-size: 14px;
  margin-bottom: 25px;
}

.section {
  margin-bottom: 20px;
}

.section h3 {
  font-size: 18px;
  margin-bottom: 12px;
}

.section input, select, textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 12px;
  border: 1px solid #0e0d0d;
  border-radius: 8px;
  outline: none;
  transition: 0.3s;
}

.section input:focus, textarea:focus, select:focus {
  border-color: #ffa62b;
  box-shadow: 0 0 5px rgba(255, 166, 43, 0.3);
}

.file-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.file-label {
  flex: 1;
  font-weight: 500;
}

.file-group input {
  flex: 2;
}

.submit-btn {
  width: 50%;
  margin-left: 170px;
  margin-top: 25px;
  background: #001060;
  color: #fff;
  border: none;
  padding: 14px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
  background: #190a56;
}

@media (max-width: 768px) {
  .form-wrapper {
    width: 90%;
    padding: 20px 15px;
    margin: 20px auto;
    border-radius: 10px;
  }

  .form-title {
    font-size: 22px;
  }

  .form-subtitle {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .section h3 {
    font-size: 16px;
  }

  .section input,
  .section select,
  .section textarea {
    font-size: 14px;
    padding: 10px;
  }

  .file-group {
    flex-direction: column;
    align-items: flex-start;
  }

  .file-label {
    margin-bottom: 5px;
  }

  .submit-btn {
    width: 100%;
    font-size: 15px;
    padding: 12px;
    margin-left: -6px;
  }
}

@media (max-width: 768px) {
  .form-wrapper {
    margin-top: 140px;
  }
}