.navbar {
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 60px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  z-index: 100;
}

.menu-toggle {
  display: none;
}

/* Left side (logo + links) */
.nav-left {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo img {
  padding-top: 10px;
  height: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  cursor: pointer;
  color: #374151;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li:hover {
  color: #2563eb;
}

.add_project {
  width: 120px;
}

/* Right side (search + login) */
.nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  height: 40px;
  width: 220px;
  display: flex;
  align-items: center;
  border: 2px solid #d1d5db;
  border-radius: 20px;
  overflow: hidden;
}

.search-box input {
  border: none;
  outline: none;
  padding: 8px 5px;
  font-size: 0.95rem;
  width: 150px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  font-size: 20px;
  margin: 0;
}

.login-btn {
  background-color: rgb(44, 62, 80);
  border: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.login-btn:hover {
  background: #1d4ed8;
  height: 40px;
}

.btn-secondary:hover {
  transform: scale(1.05);
}

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* ---------- Mobile Responsive (max-width: 768px) ---------- */
@media (max-width: 768px) {
  .navbar {
    height: 120px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0px;
    
  }

  /* .nav-left {
    gap: 10px;
  } */

  .nav-logo img{
    position: relative;
    right: 70px;
  }

  .menu-toggle {
    position: relative;
    top: -95px;
    left: 140px;
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
    color: #333;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #fff;
    width: 160px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    z-index: 99;
    transition: all 0.3s ease;
  }

  .nav-links.open {
    display: flex;
  }

  .nav-links li:hover {
    color:black;
  }
  /* .main-hero {
    width: 100%;
    display: flex;
    flex-direction: column;
  } */
 .search-box{
  border-radius: 10px;
 }
 .login-btn{
  padding: 10px 10px;
  height: 40px;
 }
}
